.Board {
    text-align: center;
}

.Board-header {
    background-color: #222;
    height: 80px;
    padding: 20px;
    color: white;
}

.Board-title {
    font-size: 1.5em;
}

.Board-box {
    float: left;
    /*width: 200px;*/
    width: calc(33.3% - 10px)
}

.Board-box2 {
    width: 300px;
    /*box-shadow: 1px 1px 1px #222;*/
}

.Board-virtical {
    box-flex: 1;
    overflow: auto;
}

.Communication {
    color: aqua;
}
